loginRealm {
    com.cws.esolutions.security.jaas.LDAPLoginModule required
    debug = true
    initialContextFactory = com.sun.jndi.ldap.LdapCtxFactory
    connectionURL = "ldap://ldap.acme.com:389"
    connectionUsername = "uid=AppUser,organizationalUnitName=Service Accounts,organizationName=CWS US,dc=caspersbox,dc=com"
    connectionPassword = appuser10
    connectionProtocol = s
    authentication = simple
    userBase = "organizationalUnitName=Users,organizationName=CWS US,dc=caspersbox,dc=com"
    userSearchMatching = "(&(objectClass=cwsperson)(&(uid={0})))"
    userSearchSubtree = false
    roleBase = "organizationalUnitName=Roles,organizationName=CWS US,dc=caspersbox,dc=com"
    roleSearchMatching = "(uniqueMember={1})"
    roleSearchSubtree = true
    roleName = cn;
};
