version: 1

dn: organizationalUnitName=Service Accounts,organizationName={{ organization_name }},{{ ldap_domain }}
objectClass: organizationalUnit
objectClass: top
organizationalUnitName: Service Accounts

dn: uid={{ service_uid }},organizationalunitname=Service Accounts,organizationname={{ organization_name }},{{ ldap_domain }}
objectClass: top
objectClass: cwsperson
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
cn: {{ service_cn }}
sn: Application Service Account
displayName: Application Service Account
email: {{ service_email_addr }}
givenName: Application Service Account
uid: appadm
