repoType = SQL
isSecure = false
trustStoreFile =
trustStorePass =
trustStoreType =
repositoryHost = jdbc:mysql://localhost/cwssec?autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull
repositoryDriver = com.mysql.jdbc.Driver
repositoryConnTimeout = 10000
repositoryReadTimeout = 10000
minConnections = 1
maxConnections = 10
repositoryUser = appadm
repositoryPass = V1B5VXZHZnBQNC9aUXVJSFRqWTNqZz09OkZEYmMvMWdKeDVhaGxQSnFrMHpoV0NscHBlZU1YcXh6RzRNV3VEN2VXYVk9
repositorySalt = hg4Q1qymhVY5ZICwyXuYFvdegQVyrAbg
