repoType = SQL
isSecure = false
trustStoreFile =
trustStorePass =
trustStoreType =
repositoryHost = jdbc:mysql://{{ sql_hostname }}/cwssec?autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull
repositoryDriver = com.mysql.jdbc.Driver
repositoryConnTimeout = 10000
repositoryReadTimeout = 10000
minConnections = 1
maxConnections = 10
repositoryUser = uid=AppUser,organizationalUnitName=Service Accounts,organizationName={{ organization_name }},{{ ldap_domain }}
repositoryPass = TrUqoyr4N3KXK8Ivd9jcZ1fXPy00JRe5xNFiaOEUVQU=
repositorySalt = OITltocOUZjW
