<?xml version = "1.0" encoding = "UTF-8"?>
<Context docBase = "%path%" sessionCookieDomain = "127.0.0.1" sessionCookiePath = "/eSolutions" sessionCookieName = "ESOLUTIONS_ID">

    <Realm className = "org.apache.catalina.realm.JAASRealm" appName = "SecurityServiceRealm"
        userClassNames = "com.cws.esolutions.security.dto.UserAccount" roleClassNames = "com.cws.esolutions.security.dto.UserGroup" />
 
    <Resource name = "jdbc/esolutions" auth = "Container" type = "javax.sql.DataSource" driverClassName = "com.mysql.jdbc.Driver"
        url = "%url%"
        username = "%username%" password = "%password%" testWhileIdle = "true" testOnBorrow = "true" testOnReturn = "false"
        validationQuery = "SELECT 1 FROM DUAL" validationInterval = "30000" timeBetweenEvictionRunsMillis = "5000" maxActive = "100" minIdle = "0" maxWait = "10000" initialSize = "0"
        removeAbandonedTimeout = "60" singleton = "true" removeAbandoned = "true" logAbandoned = "true" minEvictableIdleTimeMillis = "30000"
        jdbcInterceptors = "org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold = 10000)" />

    <Resource name = "jdbc/esolutionssvc" auth = "Container" type = "javax.sql.DataSource" driverClassName = "com.mysql.jdbc.Driver"
        url = "%url%"
        username = "%username%" password = "%password%" testWhileIdle = "true" testOnBorrow = "true" testOnReturn = "false"
        validationQuery = "SELECT 1 FROM DUAL" validationInterval = "30000" timeBetweenEvictionRunsMillis = "5000" maxActive = "100" minIdle = "0" maxWait = "10000" initialSize = "0"
        removeAbandonedTimeout = "60" singleton = "true" removeAbandoned = "true" logAbandoned = "true" minEvictableIdleTimeMillis = "30000"
        jdbcInterceptors = "org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold = 10000)" />

    <Resource name = "jdbc/cwssec" auth = "Container" type = "javax.sql.DataSource" driverClassName = "com.mysql.jdbc.Driver"
        url = "%url%"
        username = "%username%" password = "%password%" testWhileIdle = "true" testOnBorrow = "true" testOnReturn = "false"
        validationQuery = "SELECT 1 FROM DUAL" validationInterval = "30000" timeBetweenEvictionRunsMillis = "5000" maxActive = "100" minIdle = "0" maxWait = "10000" initialSize = "0"
        removeAbandonedTimeout = "60" singleton = "true" removeAbandoned = "true" logAbandoned = "true" minEvictableIdleTimeMillis = "30000"
        jdbcInterceptors = "org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold = 10000)" />

    <Resource name = "jms/mqConnectionFactory" auth = "Container" type = "org.apache.activemq.ActiveMQConnectionFactory" factory = "org.apache.activemq.jndi.JNDIReferenceFactory" brokerURL = "tcp://127.0.0.1:61616" />
    <Resource name = "jms/requestQueue" auth = "Container" type = "org.apache.activemq.command.ActiveMQTopic" factory = "org.apache.activemq.jndi.JNDIReferenceFactory" physicalName = "CWS.REQUEST.QUEUE"/>
    <Resource name = "jms/responseQueue" auth = "Container" type = "org.apache.activemq.command.ActiveMQQueue" factory = "org.apache.activemq.jndi.JNDIReferenceFactory" physicalName = "CWS.RESPONSE.QUEUE"/>

    <Valve name = "AccessLog" className = "org.apache.catalina.valves.ExtendedAccessLogValve" directory = "C:/appvol/ATS70/eSolutions/applog" prefix = "access" suffix = ".log"
        fileDateFormat = "yyyy-MM-dd" rotatable = "true" encoding = "UTF-8" locale = "en_US" requestAttributesEnabled = "true" buffered = "true"
        pattern = "date time time-taken bytes cs-uri cs-uri-query cs-uri-stem date s-dns s-ip sc-status c-dns x-H(remoteUser) cs-method cs-uri x-H(protocol)" />        
</Context>
