<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
    package = "com.cws.esolutions.android.ui"
    android:versionCode = "1"
    android:versionName = "1.0"
    android:installLocation = "auto">

    <uses-sdk android:minSdkVersion = "8" android:targetSdkVersion = "16" />

    <uses-permission android:name = "android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name = "android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup = "false"
        android:icon = "@drawable/logo"
        android:label = "@string/appName"
        android:theme = "@style/AppTheme"
        android:allowClearUserData = "true">

        <activity
            android:name = "com.cws.esolutions.android.ui.LoginActivity"
            android:label = "@string/loginTitle">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = "com.cws.esolutions.android.ui.MainActivity"
            android:label = "@string/mainTitle"
            android:exported = "false">
        </activity>
        <activity
            android:name = "com.cws.esolutions.android.ui.DNSActivity"
            android:label = "@string/dnsTitle"
            android:exported = "false">
        </activity>
        <activity
            android:name = "com.cws.esolutions.android.ui.VirtualManagerActivity"
            android:label = "@string/vmTitle"
            android:exported = "false">
        </activity>
    </application>
</manifest>
