<?xml version="1.0" encoding="UTF-8"?>

<!--
   Copyright (c) 2003 Sun Microsystems, Inc.  All rights reserved.
   Use is subject to license terms.
-->

<!DOCTYPE SERVER PUBLIC "-//Sun Microsystems Inc.//DTD Sun ONE Web Server 6.1//EN" "file:///opt/enterprise_61/bin/https/dtds/sun-web-server_6_1.dtd">
<SERVER qosactive="false">
    <PROPERTY name="docroot" value="&WEB_DOC_ROOT&"/>
    <PROPERTY name="user" value="&IPLANET_OWNING_USER&"/>
    <PROPERTY name="group" value="&IPLANET_OWNING_GROUP&"/>
    <PROPERTY name="serverid" value="&SERVER_ID&" />
    <PROPERTY name="projectcode" value="&PROJECT_CODE&" />
    <PROPERTY name="platformcode" value="&PLATFORM_CODE&" />
    <PROPERTY name="hostname" value="&SITE_HOSTNAME&" />
    <PROPERTY name="weblog" value="&WEB_LOG_ROOT&" />
    <PROPERTY name="chroot" value="" />
    <PROPERTY name="dir" value="" />
    <PROPERTY name="nice" value="" />

    <LS id="ls1" ip="{BIND_ADDR}" port="&NONSSL_PORTNUM&" servername="&SITE_HOSTNAME&" defaultvs="&SERVER_ID&-nonssl" security="off" acceptorthreads="2" blocking="false" />

    <LS id="ls2" ip="{BIND_ADDR}" port="&SSL_PORTNUM&" servername="&SITE_HOSTNAME&" defaultvs="&SERVER_ID&-ssl" security="on" acceptorthreads="2" blocking="false">
        <SSLPARAMS servercertnickname="&CERT_NICKNAME&" ssl2="off" ssl2ciphers="-rc4,-rc4export,-rc2,-rc2export,-desede3,-des" ssl3="on" tls="on" ssl3tlsciphers="-rsa_rc4_128_sha,+rsa_rc4_128_md5,-rsa_rc4_56_sha,-rsa_rc4_40_md5,+rsa_3des_sha,-rsa_des_sha,-rsa_des_56_sha,-rsa_rc2_40_md5,-rsa_null_md5,-fortezza,-fortezza_rc4_128_sha,-fortezza_null,+fips_3des_sha,-fips_des_sha" tlsrollback="on" clientauth="off" />
    </LS>

    <MIME id="mime1" file="mime.types" />

    <ACLFILE id="acl1" file="&SERVER_ROOT&/httpacl/generated.&SERVER_ID&.acl" />

    <VSCLASS id="vsclass1" objectfile="vsclass1.obj.conf" rootobject="default" acceptlanguage="false">
        <VS id="&SERVER_ID&" connections="ls1" mime="mime1" aclids="acl1" urlhosts="&SITE_HOSTNAME&" state="on">
            <PROPERTY name="accesslog" value="&WEB_LOG_ROOT&/access" />
            <USERDB id="default" />
        </VS>
    </VSCLASS>

    <VSCLASS id="vsclass1" objectfile="vsclass1.obj.conf" rootobject="default" acceptlanguage="false">
        <VS id="&SERVER_ID&" connections="ls1" mime="mime1" aclids="acl1" urlhosts="&SITE_HOSTNAME&" state="on">
            <PROPERTY name="accesslog" value="&WEB_LOG_ROOT&/access-secure" />
            <USERDB id="default" />
        </VS>
    </VSCLASS>

    <LOG file="&WEB_LOG_ROOT&/errors" loglevel="failure" logvsid="false" logstdout="true" logstderr="true" logtoconsole="true" createconsole="false" usesyslog="false" />
</SERVER>
