[Unit]
Description=The Apache Tomcat Server
After=network.target remote-fs.target nss-lookup.target

[Service]
User=appsrv

Type=notify

ExecStart=/opt/APP/Apache/tomcat/current/bin/startup.sh
ExecStop=/opt/APP/Apache/tomcat/current/bin/shutdown.sh

# We want systemd to give httpd some time to finish gracefully, but still want
# it to kill httpd after TimeoutStopSec if something went wrong during the
# graceful stop. Normally, Systemd sends SIGTERM signal right after the
# ExecStop, which would kill httpd. We are sending useless SIGCONT here to give
# httpd time to finish.
KillSignal=SIGCONT
PrivateTmp=true

[Install]
WantedBy=multi-user.target
