<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="C:/appvol/ATS70/eSolutions/eSolutions_web_source-1.0.war" sessionCookieDomain="127.0.0.1" sessionCookiePath="/eSolutions" sessionCookieName="ESOLUTIONS_ID">
    <Resource name="jdbc/esolutionssvc" auth="Container" type="javax.sql.DataSource"
        username="appuser" password="appuser10" driverClassName="com.mysql.jdbc.Driver"
        url="jdbc:mysql://127.0.0.1/esolutionssvc?useConfigs=fullDebug&amp;useCompression=true&amp;
            useSSL=true&amp;requireSSL=true&amp;verifyServerCertificate=true&amp;
            clientCertificateKeyStoreUrl=${catalina.home}/conf/tomcat.jks&amp;
            clientCertificateKeyStoreType=JKS&amp;clientCertificateKeyStorePassword=changeit&amp;
            trustCertificateKeyStoreUrl=${catalina.home}/conf/tomcat.jks&amp;
            trustCertificateKeyStoreType=JKS&amp;trustCertificateKeyStorePassword=changeit&amp;
            autoReconnect=true&amp;autoReconnectForPools=true&amp;paranoid=true&amp;
            useLocalTransactionState=true&amp;characterEncoding=UTF8&amp;useServerPrepStmts=true&amp;
            zeroDateTimeBehavior=convertToNull"
        testWhileIdle="true" testOnBorrow="true" testOnReturn="false"
        validationQuery="SELECT 1 FROM DUAL" validationInterval="30000"
        timeBetweenEvictionRunsMillis="5000" maxActive="100" minIdle="0"
        maxWait="10000" initialSize="0" removeAbandonedTimeout="60" singleton="true"
        removeAbandoned="true" logAbandoned="true" minEvictableIdleTimeMillis="30000"
        jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;
            org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;
            org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold=10000)" />

    <Resource name="jdbc/cwssec" auth="Container" type="javax.sql.DataSource"
        username="appuser" password="appuser10" driverClassName="com.mysql.jdbc.Driver"
        url="jdbc:mysql://127.0.0.1/cwssec?useConfigs=fullDebug&amp;useCompression=true&amp;
            useSSL=true&amp;requireSSL=true&amp;verifyServerCertificate=true&amp;
            clientCertificateKeyStoreUrl=${catalina.home}/conf/tomcat.jks&amp;
            clientCertificateKeyStoreType=JKS&amp;clientCertificateKeyStorePassword=changeit&amp;
            trustCertificateKeyStoreUrl=${catalina.home}/conf/tomcat.jks&amp;
            trustCertificateKeyStoreType=JKS&amp;trustCertificateKeyStorePassword=changeit&amp;
            autoReconnect=true&amp;autoReconnectForPools=true&amp;paranoid=true&amp;
            useLocalTransactionState=true&amp;characterEncoding=UTF8&amp;useServerPrepStmts=true&amp;
            zeroDateTimeBehavior=convertToNull"
        testWhileIdle="true" testOnBorrow="true" testOnReturn="false"
        validationQuery="SELECT 1 FROM DUAL" validationInterval="30000"
        timeBetweenEvictionRunsMillis="5000" maxActive="100" minIdle="0"
        maxWait="10000" initialSize="0" removeAbandonedTimeout="60" singleton="true"
        removeAbandoned="true" logAbandoned="true" minEvictableIdleTimeMillis="30000"
        jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;
            org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;
            org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold=10000)" />

    <Resource name="jms/mqConnectionFactory" auth="Container" type="org.apache.activemq.ActiveMQConnectionFactory"
        factory="org.apache.activemq.jndi.JNDIReferenceFactory" brokerURL="tcp://127.0.0.1:61616" />

    <Resource name="jms/requestQueue" auth="Container" type="org.apache.activemq.command.ActiveMQQueue"
        factory="org.apache.activemq.jndi.JNDIReferenceFactory" physicalName="CWS.REQUEST.QUEUE"/>

    <Resource name="jms/responseQueue" auth="Container" type="org.apache.activemq.command.ActiveMQQueue"
        factory="org.apache.activemq.jndi.JNDIReferenceFactory" physicalName="CWS.RESPONSE.QUEUE"/>

    <Valve className="org.apache.catalina.valves.ExtendedAccessLogValve" directory="C:/appvol/ATS70/eSolutions/applog" prefix="access" suffix=".log"
        fileDateFormat="yyyy-MM-dd" rotatable="true" encoding="UTF-8" locale="en_US" requestAttributesEnabled="true" buffered="true"
        pattern="date time time-taken bytes cs-uri cs-uri-query cs-uri-stem date s-dns s-ip sc-status c-dns x-H(remoteUser) cs-method cs-uri x-H(protocol)" />        
</Context>
